/* body {
    padding-top: 50px;
} */


/* PARA TESTE DA PARTE DE CONTAS*/


/* body {
    background: #f4f4f4;
    color: #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #000000;
    color: #ffffff;
}

td {
    border: 1px solid #999;
    padding: 10px;
    cursor: pointer;
} */

.clicked {
    display: none;
    background: #ffffff;
    color: #000000;
}


/* -----------------------------*/

.direito-inferior {
    position: absolute;
    float: right;
    margin-bottom: 3;
    right: 30px;
    bottom: 0;
}


/* Botão pesquisar e Mais Botões */

.btnPesquisar,
.btnMaisBotoes {
    position: fixed;
    float: bottom;
    bottom: 15px;
    right: 15px;
    z-index: 100;
}


/* Botão superior esquerdo */

.btnSupEsquerdo {
    position: fixed;
    float: top;
    top: 15px;
    left: 15px;
    z-index: 100;
}

.btnPesquisarInput,
.btnPesquisarBtn,
.btnMaisBotoesBtn,
.btnMaisBotoesGrupo {
    display: inline-block;
}

.btnCircular {
    border-radius: 50%;
}

.btnPrincipal {
    font-size: 20px;
    padding: 15px;
}

.btnSecundario {
    font-size: 15px;
    padding: 10px;
}