<h1>
    <i class="fa fa-wallet"></i> Contas</h1>
<br>

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">$</span>
    </div>
    <input ng-model="conta.valor" type="text" class="form-control" placeholder="Digite o valor" aria-describedby="button-addon4" ng-filter="currency">
    <div class="input-group-prepend">
        <span class="input-group-text">Add</span>
    </div>
    <input ng-model="conta.desc" class="form-control" aria-label="Add" placeholder="Digite a descrição"></input>
    <div class="input-group-append" id="button-addon4">
        <button class="btn btn-success" type="button" ng-click="positivo()"><i class="fa fa-plus"></i></button>
        <button class="btn btn-danger" type="button" ng-click="negativo()"><i class="fa fa-minus"></i></button>
        <button class="btn btn-dark" type="button" ng-click="saque()"><i class="fa fa-credit-card"></i></button>
    </div>
</div>

<table class="table table-borderless table-dark text-center">
    <thead>
        <tr>
            <th class="{{corLocalB}}" scope="col" ng-mousedown="selecionarB()"><i class="fa fa-university"></i> Banco</th>
            <th class="{{corLocalF}}" scope="col" ng-mousedown="selecionarF()"><i class="fa fa-money-bill-wave"></i> Fisica</th>
            <th scope="col"><i class="fa fa-coins"></i> Cash</th>
            <th scope="col"><i class="fa fa-align-justify"></i> Descrição</th>
            <th scope="col" width="10%"><i class="fa fa-trash-alt"></i> Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="con in contas track by con.id">
            <td>{{con.banco}}</td>
            <td>{{con.fisico}}</td>
            <td class="{{con.cor}}">{{con.valor}}</td>
            <td>{{con.desc}}</td>
            <td>
                <button class="btn btn-danger" ng-click="deletar(id)"> <i class="fa fa-trash"></i> </button>
            </td>
        </tr>
    </tbody>
</table>