<div ng-controller="listaCtrl">

    <div>
        <br>
        <input type="text" class="form-control" ng-model="busca.nome" placeholder="Pesquise">
        <br>
    </div>
    <div>


        <select class="form-control" ng-model="busca.sexo">
                <option value="">Qualquer</option>
                <option value="Homem">Homem</option>
                <option value="Mulher">Mulher</option>
            </select>
        <table class="table table-striped">
            <tr>
                <th>Foto</th>
                <th>Nome</th>
                <th>Sexo</th>
                <th>Telefone</th>
                <th>Celular</th>
            </tr>
            <tr ng-repeat="pessoa in personas | filter : busca | orderBy : 'nome'" class="animated fadeInDown">
                <td> <img ng-src="img/{{ pessoa.avatar }}" class="avatar img-circle"> </td>
                <td>{{pessoa.nome}} </td>
                <td>{{pessoa.sexo}} </td>
                <td>{{pessoa.telefono}} </td>
                <td>{{pessoa.celular}} </td>
            </tr>
        </table>
    </div>

</div>