<h1>Listagem a partir do banco</h1>

<hr>
<div class="row">
    <div class="row">
        <br>
        <input type="text" class="form-control" ng-model="busca.nombre" placeholder="Pesquise">
        <br>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Perfil</th>
        </tr>
        <tr class="animated fadeInUp" ng-repeat="pessoa in pessoas.data | filter : busca">
            <td>{{pessoa.codigo}}</td>
            <td>{{pessoa.nombre}}</td>
            <td>{{pessoa.telefono}}</td>
            <td><a href="#/Pessoa/{{pessoa.codigo}}">perfil de {{pessoa.nombre}}</a></td>
        </tr>
    </table>
</div>