<!-- <head ng-controller="pessoaCtrl">
    <script type="text/javascript">
        window.onload = function() {
            buscaId();
        }
    </script>
</head> -->
<div class="row">
    <h1><i class="fa fa-user"></i> {{pessoa.data.nombre}} - Nº{{pessoa.data.codigo}}</h1>
    <br><br>
    <form ng-submit="atualizar()">
        <h3>Nome:</h3>
        <input type="text" class="form-control" ng-model="pessoa.data.nombre" required>
        <br>
        <h3>Telefone:</h3>
        <input type="text" class="form-control" ng-model="pessoa.data.telefono" ui-mask="9999-9999" required>
        <br>
        <h3>Descrição:</h3>
        <textarea class="form-control " ng-model="pessoa.data.direccion " cols="30 " rows="5 "></textarea>
        <br><br>
        <button type="submit " class="btn btn-primary ">Atualizar</button>
    </form>



</div>