<!-- <head ng-controller="pessoaCtrl">
    <script type="text/javascript">
        window.onload = function() {
            buscaId();
        }
    </script>
</head> -->
<div class="row">
    <h1>{{pessoa.nombre}} - {{pessoa.codigo}}</h1>
    <br><br>
    <form action="">
        <h4>Nome:</h4>
        <br>
        <input type="text" class="form-control" ng-model="pessoa.nombre" required>
        <br>
        <h4>Telefone:</h4>
        <br>
        <input type="number" class="form-control" ng-model="pessoa.telefone" ui-mask="9999-9999" required>
        <br>
        <h4>Descrição:</h4>
        <br>
        <textarea class="form-control" ng-model="pessoa.decrição" cols="30" rows="5"></textarea>
        <br><br>
        <button type="submit" class="btn btn-primary">Atualizar</button>
    </form>



</div>