<h1><i class="fa fa-user-cog"></i> Listagem a partir do banco</h1>

<hr>
<div>
    <div>
        <br>
        <input type="text" class="form-control" ng-model="busca.nombre" placeholder="Pesquise">
        <br>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Perfil</th>
        </tr>
        <tr class="animated fadeInUp" ng-repeat="pessoa in pessoas.data | filter : busca">
            <td>{{pessoa.codigo}}</td>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.fone}}</td>
            <td><a class="btn btn-light" href="#/Pessoa/{{pessoa.codigo}}"><i class="fa fa-pen"></i> {{pessoa.nome}}</a></td>
        </tr>
    </table>
</div>