<head ng-controller="pessoaCtrl">
    <script type="text/javascript">
        window.onload = function() {
            buscaId();
        }
    </script>
</head>
<div class="container" ng-controller="pessoaCtrl">
    <h1>{{ perfilPessoa.nome }}</h1>
    <h4>{{ id }}</h4>
    <button class="btn btn-primary" ng-click="buscaId()">calcular</button>
    <div class="row">


        <div class="col-sm-3">
            <section class="panel">
                <div class="panel-body" align="center">
                    <img ng-src="{{ profesor.foto }}" class="img-circle animated bounceIn" alt="" width="150px" height="150px">
                </div>
            </section>
        </div>


        <div class="col-sm-9">
            <section class="panel">
                <div class="panel-body">
                    {{ profesor.bio }}
                    <br>
                    <br>
                    <strong>Edad:</strong> {{ profesor.edad }} años
                    <br>
                    <button class="btn btn-primary" ng-click="EditarProfesor()">Editar</button>
                </div>
            </section>
        </div>


    </div>
    <div class="row animated fadeInUp" ng-show="tipo">

        <div class="col-sm-9">
            <section class="panel">
                <div class="panel-body">

                    Nombre:
                    <input type="text" class="form-control" ng-model="editando.nombre">
                    <br> Edad:
                    <input type="text" class="form-control" ng-model="editando.edad">
                    <br> Bio:
                    <textarea class="form-control" ng-model="editando.bio" rows="5"></textarea>

                    <br>
                    <button class="btn btn-primary" ng-click="GuardarCambios()">Guardar</button>
                    <button class="btn btn-danger" ng-click="CancelarCambios()">Cancelar</button>

                </div>
            </section>
        </div>


    </div>